footer {
  margin: 0 auto;
  text-align: center;
  height: 5vh;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid; border-image: linear-gradient(-90deg, rgba(247, 0, 0, 0.9), rgba(60,74,83,.00)) 1; border-right:none; border-bottom:none; border-left:none;  
}
