<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Parfois about</title>
    <!-- CUSTOM CSS (main) -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="../styles/1_header.css" />
      <link rel="stylesheet" href="../styles/3_about.css" />
      <link rel="stylesheet" href="../styles/4_footer.css" />
    <!-- CUSTOM JS (main) -->
    <script defer src ="../scripts/navbar.js"></script>
    <!-- CUSTOM JS -->

  </head>
  <body>
    <header class="header">
      <div class="section-1">

    

     <!--right navbar -->
    <div class="left-nav">
      <i id = "fa" class="fas fa-bars fa-2x"></i>
      <ul class="navbar">
        <li class="nav"><a href="./index.html">Home</a></li>
         <li class="nav"><a href="./shop.html">Shop</a></li>
         <li class="nav"><a href="./about.html">About Us</a></li>
         <li class="nav"><a href="./contact.html">Contacts</a></li>
         <li class="nav"><a href="./cart.html">Cart &nbsp;&nbsp;<i class="fas fa-shopping-basket"></i></a></li>
       </ul>

    </div>
    <div class="right-nav"><h2><a href="index.html">Parfois</a></h2></div>
  
  </div>

</div>
<div class="header-line"></div>
    </header>

    <!-- main section -->
    <main class="about-main">
      <!-- video -->
      <div class="video">
        <iframe src="https://www.youtube.com/embed/2RmCcrk5Qyc?autoplay=1&loop=1&autopause=0"  title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </div>
      
      <!-- address section -->
      <div class="address">
        <h3>Find our store</h3>
      </div>

      <div class="address-container">
        <!-- first address -->
        <div class="left-text">
          <h2><span>Parfois</span> store</h2>
          <p>Avenue Jean Léon Laporte, 64600 Anglet, France</p>
        </div>
     
        <div class="right-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11578.705106754585!2d-1.4976942!3d43.4882258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdeea508781abfc6d!2sParfois!5e0!3m2!1sen!2slt!4v1626897380637!5m2!1sen!2slt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

        

      
      </div>
    </div>
      <div class="empty-bottom"></div>
    </main>

    <footer class="footer"></footer>
  </body>
</html>
