<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>This awesome shop</title>
    <!-- CUSTOM CSS (main) -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
      />
    <link rel="stylesheet" href="../styles/1_header.css" />
    <link rel="stylesheet" href="../styles/2_index.css" />
    <link rel="stylesheet" href="../styles/4_footer.css" />
    <!-- CUSTOM JS (main) -->
    <script defer src ="../scripts/navbar.js"></script>
    <script defer src ="../scripts/slides.js"></script>
    <!-- CUSTOM JS -->

  </head>
  <body>
    <header class="header">
      <div class="section-1">

    

     <!--right navbar -->
    <div class="left-nav">
      <i id = "fa" class="fas fa-bars fa-2x"></i>
      <ul class="navbar">
        <li class="nav"><a href="./index.html">Home</a></li>
         <li class="nav"><a href="./shop.html">Shop</a></li>
         <li class="nav"><a href="./about.html">About Us</a></li>
         <li class="nav"><a href="./contact.html">Contacts</a></li>
         <li class="nav"><a href="./cart.html">Cart &nbsp;&nbsp;<i class="fas fa-shopping-basket"></i></a></li>
       </ul>

    </div>
    <div class="right-nav"><h2><a href="index.html">Parfois</a></h2></div>
  
  </div>

</div>
<div class="header-line"></div>
    </header>


    <main class="index-main">

      <!------------------------ Section 1  --------------------------->
      <div id="slides">

        <div class="slide showing">
<!-- left slide part -->
          <div class="left-slide">
          
          </div>



<!-- middle slide with text and image -->
<div class="middle-text-and-image">

          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>Outstanding choice of Swiss watches...</h3>
              <H1>Parfois</H1>
            
            <div class="middle-line"></div>
            </div>
            <div class="bottom-slide-text">
              <h4>Working successfully for over 30 years locally and online
                
              </h4>
              <a href="../views/shop.html"><button>SHOP NOW &rarr;</button></a>
            </div>
          </div>
<!-- right  slide part with big image -->
          <div class="right-slide">
            <img src= "https://i.ibb.co/1YV7XYg/pngwing-com.png" alt="" />
          </div>
        </div>

        <div class="empty-right-slide"></div>

      </div>



        <div class="slide">
          <div class="left-slide">
           
          </div>

          <!-- middle slide with text and image -->
<div class="middle-text-and-image">
          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>Electronics to fill all your needs...</h3>
              <H1>Parfois</H1>
              <div class="middle-line"></div>
            </div>
            
            <div class="bottom-slide-text">
              <h4>You can return any unwanted product within one month of purchase date
                
              </h4>
              <a href="../views/shop.html"><button>SHOP NOW &rarr;</button></a>
            </div>
          </div>
          <div class="right-slide">
            <img src= "https://i.ibb.co/ZctjjRk/pngwing-com-1.png" alt="" />
          </div>
        </div>
        <div class="empty-right-slide"></div>
      </div>

        <div class="slide">

          <div class="left-slide">
           
          </div>

                    <!-- middle slide with text and image -->
        <div class="middle-text-and-image">
          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>Jewelly and more...</h3>
              <H1>Parfois</H1>
              <div class="middle-line"></div>
            </div>
            <div class="bottom-slide-text">
              <h4>Gold, platinum, silver and diamonds...
               
              </h4>
              <a href="../views/shop.html"><button>SHOP NOW &rarr;</button></a>
            </div>
          </div>

          <div class="right-slide">
            <img src= "https://i.ibb.co/K6Fqq8t/pngwing-com-2.png" alt="" />
          </div>
        </div>
        <div class="empty-right-slide"></div>
      </div>



      </div>
    </div>

</main>

<footer class="footer"></footer>

  </body>
</html>
